<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Burger App</title>
  <link href="https://fonts.googleapis.com/css?family=Acme|Roboto+Slab" rel="stylesheet">
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/burger_style.css">
  <link rel="shortcut icon" href="./assets/img/favicon.ico">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

  <body>
    <header class="row">
      <div class="col-12 justify-content-center">
        <nav class="navbar navbar-light custom-nav-header">
          <span class="navbar-brand ml-2 mb-1 text-white">Eat-Da-Burger</span>
        </nav>
      </div>
    </header>

    {{{ body }}}

    <footer class="footer">
      <div class="container">
        <a href="/api/burgers">API Burger List</a>&nbsp;|&nbsp;
        <a href="https://github.com/f-flores/burger" target="_blank">Github Repo</a>
      </div>
    </footer>

  <script src="./assets/js/burger_script.js"></script>
  </body>
</html>